.app-wrapper {
  color: white;
  display: grid;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
  width: 1200px;
}

.header {
  grid-area: h;
  background-color: black;
}

.header img {
  width: 5%;
}

.nav {
  background-color: #1f1f1f;
  grid-area: n;
}

.content {
  background-color: #1f1f1f;
  grid-area: c;
}